<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href={{ url_for('static',filename='/image/favicon.ico') }} type="image/x-icon">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>

        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{ url_for('index')}}>XOJ</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/discuss/">Web board</a></li>
                        <li><a href="/problemset/">Problemset</a></li>
                        <li><a href="/status/">Status</a></li>
                        <li><a href="/ranklist/">Ranklist</a></li>
                        <li><a href="/">Contest</a></li>
                        <li><a href="/FAQ/">F.A.Qs</a></li>
                    </ul>
                    {% if g.user.is_authenticated() %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" style="color:orange;margin-right: 10px" data-toggle="dropdown" href="#">
                                    {{ g.user.userid }}
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href={{ g.url }}>Profile</a>
                                    </li>
                                    {% if g.user.is_admin %}
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="/admin/">Admin Page</a>
                                    </li>
                                    {% endif %}
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="/logout/">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                    <div class="navbar-form navbar-right">
                            <a href="/login/" class="btn btn-primary">Sign in</a>
                            <a href="/register/" class="btn btn-default">Sign up</a>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>

        {% block content %}
        {% endblock %}

        <div class="container">
            <footer>
                <hr>
                <p class="text-center">
                    This Online Judge project is from yomin. You can take
                    <a href="http://github/Rominyue">Project Home Page</a>
                    on Github.
                </p>
                <p class="text-center">
                    If you have any questions, feel free to contact
                    <a href="mailto:someone@example.com">yueming412@gmail.com</a>
                </p>
                <p class="text-center">Copyright © 2014 XOJ</p>
            </footer>
        </div>
        <script src={{ url_for('static', filename='js/jquery-1.9.1.min.js') }}></script>
        <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
    </body>
</html>
