<!DOCTYPE html>

<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap.min.css') }}-->
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>

        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id = "wrapper">

            <div id = "head">
                <h1 class = "title">Welcome to Online Judge System</h1>
            </div>

            <div id = "profile">
                {% if g.user.is_authenticated() %}
                    <a href={{ g.url }}> {{ g.user.userID }}</a>
                    {% if g.user.is_admin %}
                        <a href="/admin/" id="admin" color="red"> Admin </a>
                    {% endif %}
                    <a href="/logout/"> Logout </a>
                {% else %}
                    <a href = "/login/"> Login </a>
                    <a href = "/register/"> Register </a>
                {% endif %}
            </div>

            <div>
                <table id = "navbar">
                    <td><a href = "/"> Home </a></td>
                    <td><a href="/discuss/"> Web Board </a></td>
                    <td><a href = "/problemset/"> Problemset </a></td>
                    <td><a href = "/status/"> Status </a></td>
                    <td><a href = "/ranklist/"> Ranklist </a></td>
                    <td><a href = "/"> Contest </a></td>
                    <td><a href = "/FAQ/"> F.A.Qs </a></td>
                </table>
            </div>

            {% block content %}
            {% endblock %}

            <div id = "contact">
                <p>OnlineJudge From Yomin</p>
                Anything About Problems, Please Feel Free to Contact <a href = "mailto:yueming412@gmail.com">Me</a>
            </div>
        </div>
        <!--script src={{ url_for('static', filename='js/jquery-1.9.1.min.js') }}></script-->
        <!--script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script-->
    </body>
</html>
