{% extends "base.html" %}
{% block content %}
<title> Comment </title>
<h3 class="center">{{ title }}</h3>
<table class="reply">
    {% if page == 1 %}
        <tr>
            <td class="userinfo">
                <a href={{ url_for('userinfo', userID = comment.userid) }}> {{ comment.userid }} </a><br />
                ({{ comment.nickname }})
            </td>
            <td class="content">
                {{ comment.content }}
                <div class="tip">
                    {% if g.user.is_authenticated() and g.user.userID == comment.userid %}
                        [<a href={{ url_for('deletepost', tid = comment.tid) }}> Delete </a>]
                    {% endif %}
                    {{ comment.post_time }}
                </div>
            </td>
        </tr>
    {% endif %}
    {% for reply in reply_list.items %}
        <tr>
            <td class="userinfo">
                <a href={{ url_for('userinfo', userID = reply.userid) }}> {{ reply.userid }} </a><br />
                ({{ reply.nickname }})
            </td>
            <td class="content">
                {{ reply.content }}
                <div class="tip">
                    {% if g.user.is_authenticated() and g.user.userID == comment.userid %}
                        [<a href={{ url_for('deletepost', tid = tid) }}> Delete </a>]
                    {% endif %}
                    {{ reply.post_time }}
                </div>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
            {% if g.user.is_authenticated() %}
                <form action={{ url_for('show_comment', tid = tid )}} method="POST">
                    {{ form.content(id="thread", rows = 10, cols = 77) }}<br />
                    <input type="submit" value="Reply">
                </form>
            {% endif %}
        </td>
    </tr>
</table>
<div class="center">
    {% for i in reply_list.iter_pages() %}
        {% if page == i %}
            <span class="red"> {{ i }} </span>
        {% else %}
            <a href={{ url_for('show_comment', tid = tid, page = i) }}> {{ i }} </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
