{% extends "base.html" %}
{% block content %}
<title>Log in</title>
<div>
    <center><h2> Login Information </h2></center>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <h3 class="center red"> {{ message[0] }} </h3>
    {% endif %}
    {% endwith %}
    <form action="/login/" method="POST">
        {{ form.csrf_token }}
        <table id="login">
            <tr>
                <td>{{ form.userid.label }}: </td>
                <td>{{ form.userid(size = 20 )}}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}: </td>
                <td>{{ form.password(size = 20) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit">
                    <input type="reset"  value="Reset">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
