{% extends "base.html" %}
{% block content %}
<link href={{ url_for('static', filename="css/signin.css") }} rel="stylesheet">
<title> User--{{ user.userid }} </title>
<div id="wrapper2" class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a href={{ url_for('userinfo',userid = user.userid) }}>Profile</a>
        </li>
        {% if g.user.userid == user.userid %}
        <li role="presentation" class="active">
            <a href={{ url_for('modify_user', userid = user.userid) }}>ModifyUser</a>
        </li>
        {% endif %}
    </ul>
    <center><h2>User Modification</h2></center>
        {% with message = get_flashed_messages() %}
        {% if message %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Warning!</strong> {{ message[0] }}
            </div>
        {% endif %}
        {% endwith %}
    <form class="form-signin form-horizontal" role="form" action={{ url_for('modify_user',userid = user.userid) }} method='POST'>
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="col-sm-3">
            {{ form.userid.label(class="text-left control-label") }}
            </div>
            <div class="col-sm-9">
                <p class="form-control-static">{{ user.userid }}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
            {{ form.nickname.label(class="text-left control-label") }}
            </div>
            <div class="col-sm-9">
            {{ form.nickname(class="form-control", placeholder="Enter NickName") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
            {{ form.password.label(class="text-left control-label") }}
            </div>
            <div class="col-sm-9">
            {{ form.password(class="form-control" , placeholder="Enter Password") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
            {{ form.rptpassword.label(class="text-left control-label") }}
            </div>
            <div class="col-sm-9">
            {{ form.rptpassword(class="form-control", placeholder="Confirm Password") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Modify</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
