{% extends "base.html" %}
{% block content %}
<title> New Post </title>
<div class="container">
    <center><h2>Post New Thread</h2></center>
    <form role="form" action={{ url_for('newpost') }} method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <label class="label-control">Problem ID</label>
            {{ form.pid(class="form-control", placeholder="Enter Problem ID") }}
        </div>
        <div class="form-group">
            <label class="label-control">Title</label>
            {{ form.title(class="form-control", placeholder="Enter title") }}
        </div>
        <div class="form-group">
            <label class="label-control">Content</label>
            {{ form.content(class="form-control",rows="5") }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
