{% extends "base.html" %}
{% block content %}
<center>
    {% for i in problem_list.iter_pages() %}
        {% if i == page %}
            {{ i }}
        {% else %}
            <a href={{ url_for('problemset', page = i) }}> {{ i }} </a>
        {% endif %}
    {% endfor %}
</center>
<form action={{ url_for('search_problem') }} method="POST">
    {{ form.csrf_token }}
    <table class="center">
        <tr>
            <td> Problem ID : </td>
            <td> {{ form.pid(size=7) }} </td>
            <td><button type="submit"> Go </button></td>
        </tr>
    </table>
</form>
<table id = "problemset">
    <tr>
        <th id="ps_is_ac"></th>
        <th id="ps_pid"> Problem ID </th>
        <th id="ps_title"> Title </th>
        <th id="ps_ac"> AC Rate </th>
        <th id="ps_submit"> Submit </th>
    </tr>
    {% for problem in problem_list.items %}
            <tr style={{ loop.cycle('',"background-color:#D7EBFF") }}>
                <td>
                    {% if problem.pid in ac_list %}
                        <div class="green">Y</div>
                    {% elif problem.pid in submit_list %}
                        <div class="red">N</div>
                    {% endif %}
                </td>
                <td> {{ problem.pid + 1000 }} </td>
                <td align="left"><a href={{ url_for('show_problem', pid = problem.pid) }}> {{ problem.title }} </a></td>
                <td>{{ problem.ac_count }}</td>
                <td>{{ problem.submit_count }}</td>
            </tr>
    {% endfor %}
</table>
{% endblock %}
