{% extends "base.html" %}
{% block content %}
<title> Ranklist </title>
<center><h3>Ranklist</h3></center>
<table id="list">
    <tr>
        <th id="ps_is_ac"> No. </th>
        <th id="ps_pid"> User ID </th>
        <th id="ps_title" style="text-align:center"> NickName </th>
        <th id="ps_ac"> AC </th>
        <th id="ps_submit"> Submit </th>
    </tr>
    {% for user in user_list.items %}
        <tr style="{{ loop.cycle('', 'background-color:#D7EBFF') }}">
            <td> {{ USER_NUM_ONE_PAGE * (page - 1) + user_list.items.index(user) + 1 }} </td>
            <td><a href={{ url_for('userinfo', userID = user.userID) }}> {{ user.userID }} </a></td>
            <td> {{ user.nickname }} </td>
            <td> {{ user.ac_count }} </td>
            <td> {{ user.submit_count }} </td>
        </tr>
    {% endfor %}
</table>
<div class="center">
{% if user_list.has_prev %}
    <a href={{ url_for('show_ranklist', page = user_list.prev_num) }}> [Previous Page]</a>
{% endif %}
{% if user_list.has_next %}
    <a href={{ url_for('show_ranklist', page = user_list.next_num) }}> [Next Page] </a>
{% endif %}
</div>
{% endblock %}
