{% extends "base.html" %}
{% block content %}
<title>Register</title>
<div>
    <center><h2> Register Information </h2></center>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <h3 class="center red"> {{ message[0] }} </h3>
    {% endif %}
    {% endwith %}
    <form action ={{ url_for('register') }} method="POST">
        {{ form.csrf_token }}
        <table id = "register">
            <tr>
                <td>{{ form.userID.label }}</td>
                <td>{{ form.userID(size = 20) }}</td>
            </tr>
            <tr>
                <td>{{ form.nickname.label }}</td>
                <td>{{ form.nickname(size = 20) }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}</td>
                <td>{{ form.password(size = 20) }}</td>
            </tr>
            <tr>
                <td>{{ form.rptpassword.label }}</td>
                <td>{{ form.rptpassword(size = 20) }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" name="submit"><input type = "reset" value="Reset" name="reset"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
