{% extends "base.html" %}
{% block content %}
<div id="problem">
     <center><span style="font-size:29px; font-weight:bold; color:blue"> {{ problem.title }} </span></center>
     <table>
         <tr>
             <td><b>Time Limit:</b> {{ problem.time_limit }} MS </td>
             <td width="10px"></td>
             <td><b>Memory Limit:</b> {{ problem.memory_limit}} K </td>
         </tr>
         <tr>
             <td><b> Total Submissions: </b> {{ problem.submit_count }} </td>
             <td width="10px"></td>
             <td><b> Accepted: </b> {{ problem.ac_count }} </td>
         </tr>
     </table>
    <h2> Description </h2>
    <div>
        {% autoescape false %}
        {{ problem.description }}
        {% endautoescape %}
    </div>
    <h2> Input </h2>
    <div>
        {% autoescape false %}
        {{ problem.pinput }}
        {% endautoescape %}
    </div>
    <h2> Output </h2>
    <div>
        {% autoescape false %}
        {{ problem.poutput }}
        {% endautoescape %}
    </div>
    <h2> Sample Input </h2>
    <div>
        {% autoescape false %}
        {{ problem.sinput }}
        {% endautoescape %}
    </div>
    <h2> Sample Output </h2>
    <div>
        {% autoescape false %}
        {{ problem.soutput }}
        {% endautoescape %}
    </div>
    <h2> Hint </h2>
    <div>
        {% autoescape false %}
        {{ problem.hint }}
        {% endautoescape %}
    </div>
</div>
<center>
    <a href={{ url_for('submit_problem', pid = problem.pid) }}> Submit </a>
    <a href={{ url_for('problemstatus', pid = problem.pid) }}> Status </a>
    Discuss
</center>
{% endblock %}
