{% extends "base.html" %}
{% block content %}
<title> Comment </title>
<div class="container">
<h3 class="center">{{ title }}</h3>
    {% if page == 1 %}
        <div class="media well" style="background-color: #DDDDFF">
            <a class="media-left" href="#">
                <img src={{ url_for('static', filename='image/anonimous.jpg') }} alt="user image" height="70px" width="70px"></a>
            <div class="media-body">
                <h5 class="media-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    <a href={{ url_for('userinfo', userid = comment.userid) }}>{{ comment.nickname }}</a>
                </h5>
                <p>{{ comment.content }}</p>
                {% if g.user.is_authenticated() and (g.user.is_admin or g.user.userid == comment.userid) %}
                [<a href={{ url_for('deletepost', tid = comment.tid) }}> Delete </a>]
                {% endif %}
                {{ comment.post_time }}
            </div>
        </div>
    {% endif %}
    {% for reply in reply_list.items %}
        <div class="media well">
            <a class="media-left" href="#">
                <img src={{ url_for('static', filename='image/anonimous.jpg') }} alt="user image" height="70px" width="70px"></a>
            <div class="media-body">
                <h5 class="media-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    <a href={{ url_for('userinfo', userid = reply.userid) }}> {{ reply.nickname }} </a>
                </h5>
                <p>{{ reply.content }}</p>
                {% if g.user.is_authenticated() and (g.user.is_admin or g.user.userid == reply.userid) %}
                    [<a href={{ url_for('deletepost', rid = reply.rid) }}> Delete </a>]
                {% endif %}
                {{ reply.post_time }}
            </div>
        </div>
    {% endfor %}
    <div>
            {% if g.user.is_authenticated() %}
                <form action={{ url_for('show_comment', tid = tid )}} method="POST">
                    <div class="form-group">
                    {{ form.content(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Reply</button>
                </form>
            {% endif %}
    </div>
    <ul class="pager">
        <li>
            <a href={{ url_for('show_comment', tid = tid, page = 1) }}>Top</a>
        </li>
        {% if reply_list.has_prev %}
        <li>
            <a href={{ url_for('show_comment', tid = tid, page = reply_list.prev_num) }}>&larr; Previous</a>
        </li>
        {% endif %}
        {% if reply_list.has_next %}
        <li>
            <a href={{ url_for('show_comment', tid = tid,page = reply_list.next_num) }}>Next &rarr;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
