#wrapper {
    position: absolute;
    width: 95%;
    left: 2.5%;
}

#wrapper2 {
    position: relative;
    width: 1000px;
    top: 20px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: red;
    font-size: 29px;
    font-weight: bold;
}

#profile {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
}

#navbar {
    width: 1000px;
    background-color: #AFEEEE;
    margin: 0 auto;
    border-collapse: collapse;
    font-weight: bold;
}

#navbar td {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 133px;
    border: 1px solid white;
    padding: 4px 7px 4px 7px;
}

#contact {
    position: relative;
    top: 420px;
    text-align: center;
    font-size: 19px;
}
#admin {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
a:link {
    text-decoration: none;
    color: blue;
}

a:active {
    text-decoration:blink;
}

a:hover {
    color: orange;
}

#register {
    width: 333px;
    height: 200px;
    margin: 0 auto;
    background-color: #F0FFFF;
}

#login {
    width: 333px;
    height: 100px;
    margin: 0 auto;
    background-color: #F0FFFF;
}

#admin {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.error{
    color: red;
}

#left {
    width: 111px;
    text-align: center;
    font-weight: bold;
    color: blue;
}

#addproblem {
    width: 80%;
    margin: 0 auto;
}

#left a {
    /*color: white;*/
}
#left a:hover {
    color: red;
}
#right {

}
#right a {
    color: white;
}
#right a:hover {
    color: red;
}
#ptitle {
    width: 99%;
}
#desc {
    width: 99%;
    height: 233px;
}
#input {
    width: 99%;
    height: 210px;
}
#output {
    width: 99%;
    height: 210px;
}
#sinput {
    width: 99%;
    height: 99px;
}
#soutput {
    width: 99%;
    height: 99px;
}
#hint {
    width: 99%;
    height: 99px;
}

#problemset {
    width: 89%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 15px;
}

/*#problemset td,th {
    font-size: 18px;
}*/
#problemset th {
    padding: 4px 7px 4px 7px;
    background-color: #1A5CC8;
    border: 1px solid white;
    color: white;
}

#ps_is_ac {
    width: 50px;
}

#ps_pid {
    width: 120px;
}

#ps_title {
    width: 675px;
}

#ps_ac {
    width: 66px;
}

#ps_submit {
    width: 66px;
}

#problem {
    width: 88%;
    margin: 0 auto;
    font-family: Arial, Helvetica, monospace;
}

#problem h2 {
    color: blue;
}

#problem table {
    margin: 0 auto;
}
#problem div {
    background: #E4F0F8;
    font-size: 16px;
    line-height: 24px;
    height: auto;
    padding: 0px 20px;
}
