#wrapper {
    position: absolute;
    width: 95%;
    left: 2.5%;
}

.title {
    text-align: center;
    color: red;
    font-size: 29px;
    font-weight: bold;
}

#profile {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
}

#navbar {
    width: 1000px;
    background-color: #AFEEEE;
    margin: 0 auto;
    border-collapse: collapse;
    font-weight: bold;
}

#navbar td {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 133px;
    border: 1px solid white;
    padding: 4px 7px 4px 7px;
}

#contact {
    position: relative;
    top: 420px;
    text-align: center;
    font-size: 19px;
}
#admin {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
a:link {
    text-decoration: none;
    color: blue;
}

a:active {
    text-decoration:blink;
}

a:hover {
    color: orange;
}

#register {
    width: 333px;
    height: 200px;
    margin: 0 auto;
    background-color: #F0FFFF;
}

#login {
    width: 333px;
    height: 100px;
    margin: 0 auto;
    background-color: #F0FFFF;
}

.error{
    color: red;
}

#left {
    /*background-color: #F0FFFF;*/
    width: 99px;
    line-height: 29px;
    font-weight: bold;
}
#left a {
    /*color: white;*/
}
#left a:hover {
    color: red;
}
#right {

}
#right a {
    color: white;
}
#right a:hover {
    color: red;
}
